extends layout

block content
	.container
	.bar

	script(src="/js/zepto.min.js", type="text/javascript")
	script(src="/js/zepto-dnd.min.js", type="text/javascript")
	script(src="/js/app.js", type="text/javascript")